= render :partial => "sidebar"
.col-md-5
  .text-block-1
    = render :partial => "dam_graph"
.col-md-5
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      %h3 
        = @dam.name
      .nav
        %ul.pagination
          = will_paginate @fish_counts, renderer: BootstrapPagination::Rails
    - @fish_counts.each do |count|
      %p.list-group-item
        %span.badge.fishcount-badge 
          = count.count
        %em Species:
        %strong
          = count.fish.name
        %br
        %em Date Observed:
        %strong
          = count.count_date.strftime("%B %d %Y")