= render :partial => "sidebar"
.col-md-5
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      = Time.now.year 
      count data
    = render :partial => "dam_graph"
.col-md-5
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      %h3 
        = @dam.name
      .row
        .nav
          %ul.pagination
            = will_paginate @fish_counts, renderer: BootstrapPagination::Rails
    - @fish_counts.each do |count|
      %p.list-group-item
        - if count.count > 200
          %span.badge.custom-badges.increasing-badge
            %span.glyphicon.glyphicon-menu-up
        - else
          %span.badge.custom-badges.decreasing-badge
            %span.glyphicon.glyphicon-menu-down
        %span.badge.custom-badges.fishcount-badge
          = count.count
        %em Species:
        %strong
          = count.fish.name
        %br
        %em Date Observed:
        %strong
          = count.count_date.strftime("%B %d %Y")