!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.ico'
    %link{:href => "<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js"}
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css", :rel => "stylesheet"}/
    %title= content_for?(:title) ? yield(:title) : 'Passive-Capture'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Passive-Capture'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer
      = render 'layouts/footer'
