.sidebar-block
  = render 'sidebar'
.col-md-10.dam-graph-block
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      Current Salmon Runs
    - @fishes.each do |fish|
      - current_highest = fish.current_highest_counts.first
      - second_highest = fish.current_highest_counts.second
      - dam = find_dam(current_highest)
      - second_dam = find_dam(second_highest)
      %p
        %strong
          = fish.name
        %em 
          highest count
        |
        = current_highest.count
        |
        = link_to "#{dam.name}", dam_url(dam)
        |
        %em
          second highest:
        |
        = second_highest.count
        |
        = link_to "#{second_dam.name}", dam_url(second_dam)
