.sidebar-block
  = render :partial => "sidebar"
.col-md-5
  .panel.panel-default.text-block-1
    .panel-heading.text-center
      = @fish.name
    - @fish_counts.each do |fish|
      - dam = find_dam(fish)
      %p
        %strong
          = fish.count
        %em
          made it through
          = link_to "#{dam.name}", dam_url(dam)
          on
          = fish.format_date

